<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en-us" xml:lang="en-us" >
<head>
<title>Test reports</title>
<link rel="stylesheet" type="text/css" href="/media/css/dashboard.css" />
</head>

<body class="dashboard">

<div id="container">
    <!-- Header -->
    <div id="header">
        <div id="branding">
<h1 id="site-name">Test reports</h1>
        </div>
    </div>
    <!-- END Header -->

    <!-- Content -->
    <div id="content" class="colMS">

<div id="content-main">
{% block content %}
{% endblock %}
</div>
</div>

</body>
</html>
